.navigation {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: antiquewhite;
  z-index: 1;
}

.navigationButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.homeButton,
.aboutButton,
.contactButton,
.shoppingCartButton {
  justify-content: center;
  align-content: center;
}
