.navigation {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: antiquewhite;
  z-index: 1;
}

.navigationButtons {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  margin-top: 1.8rem;
}

.homeButton,
.aboutButton,
.contactButton,
.shoppingCartButton,
.shop {
  justify-content: center;
  align-content: center;
}

.logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 70px;
}
