.content {
  display: flex;
  flex-direction: column;
  margin: 5rem;
}

.our-story {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.founder-and-signrature {
  flex: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story {
  flex: 60%;
  text-indent: 50px;
  text-align: justify;
  font-size: large;
}
